<div class="customers">
  <section>
    <h1>Customers</h1>
    <form #f="ngForm" (ngSubmit)="addCustomer(f.value)">
      <legend>Add Customer </legend>
      <label for="name"> Name : <input name="name" id="name" type="text" placeholder="Enter customer name" ngModel></label>
      <label for="address"> Address : <input #address name="address" id="address" type="text" placeholder="Enter customer address" ngModel></label>
      <label for="phone"> Phone : <input #phone name="phone" id="phone" type="tel" placeholder="Enter customer phone" ngModel></label>
      <input type="submit" value="submit">
    </form>
    <ul>
      <li *ngFor="let customer of customers" (click)="getCustomer(customer.id)">
        <app-customer [customer]='customer'></app-customer>
        <a (click)="editCustomer(customer.id,{name:'Waseem'})">Edit</a>
        <a (click)="deleteCustomer(customer.id)">Delete</a>
      </li>
    </ul>
  </section>
</div>
